*{
  text-align: center;
}

body{
  background-color: black;
  font-size: 20px;
}
.hay{
  text-transform: uppercase;
  font-family:   "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:white;
  
}
h1{
    font-size: 3rem;
}
div{
   
  margin-top: 100px;
  margin-left: 25%;
  width: 50%;
}
.saymyname{
border: 5px solid white;
width:100%
}
p{
    color:white;
}
